In [1]:
# IMPORTANDO AS BIBLIOTECAS NECESSÁRIAS PARA A APLICAÇÃO
import pandas as pd
import numpy as np

In [2]:
BaseDados = pd.read_csv("ProjetoAula01.csv")

In [3]:
 # Exibe as primeiras linhas do DataFrame para verificar se os dados foram carregados corretamente
BaseDados.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
#EXIBE A QUANTIDADE DE LINHAS E COLUNAS DO DATAFRAME
BaseDados.shape

(1000, 8)

In [5]:
# EXIBE AS COLUNAS "TÍTULOS" DO DATAFRAME
BaseDados.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
# EXIBE A QUANTIDADE DE INFORMAÇÕES DUPLICADAS NO DATAFRAME
BaseDados.duplicated().sum()

np.int64(0)

In [7]:
# EXIBE AS INFORMAÇÕES DO DATAFRAME, COMO TIPO DE DADOS E VALORES NULOS
BaseDados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [8]:
# EXIBE A QUANTIDADE DE VALORES NULOS EM CADA COLUNA DO DATAFRAME
BaseDados.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [9]:
# EXIBE ESTATÍSTICAS DESCRITIVAS DO DATAFRAME
# Isso inclui contagem, média, desvio padrão, valores mínimo e máximo, e quartis
BaseDados.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [10]:
# Exibe estatísticas descritivas de todas as colunas do DataFrame, incluindo variáveis categóricas e numéricas
BaseDados.describe(include='all')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [11]:
# EXIBE A QUANTIDADE DE VALORES ÚNICOS EM CADA COLUNA DO DATAFRAME
# Isso é útil para entender a diversidade de dados em cada coluna
BaseDados.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [12]:
# EXIBE A QUANTIDADE DE VALORES ÚNICOS NA COLUNA "parental level of education"
# Isso ajuda a entender a distribuição dos níveis de educação dos pais dos alunos
BaseDados['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [13]:
# QUANTIDADE DE FREQUÊNCIA DA COLUNA 'GENDER".
BaseDados.gender.value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [14]:
# CRIANDO UMA LISTA COM AS COLUNAS DE PROVAS
provas = ["math score", "reading score", "writing score"]

# ORDENANDO O DATAFRAME PELA COLUNA - PROVAS - EM ORDEM DECRESCENTE, DESCARTANDO O INDICE ANTERIOR
BaseDados = BaseDados.sort_values(by=provas, ascending=False).reset_index(drop=True)
BaseDados

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group E,bachelor's degree,standard,none,100,100,100
1,male,group E,bachelor's degree,standard,completed,100,100,100
2,female,group E,associate's degree,standard,none,100,100,100
3,male,group E,associate's degree,free/reduced,completed,100,100,93
4,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
995,female,group C,some college,free/reduced,none,22,39,33
996,female,group B,some college,standard,none,19,38,32
997,female,group B,some high school,free/reduced,none,18,32,28
998,female,group B,high school,free/reduced,none,8,24,23
999,female,group C,some high school,free/reduced,none,0,17,10

In [15]:
# CALCULANDO A MÉDIA DAS PROVAS E ADICIONANDO COMO UMA NOVA COLUNA NO DATAFRAME
# A média é calculada ao longo do eixo 1 (linhas), ou seja, para cada aluno
BaseDados["MÉDIA"] = BaseDados[provas].mean(axis=1)
BaseDados

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,MÉDIA
0,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
1,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000
2,female,group E,associate's degree,standard,none,100,100,100,100.000000
3,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667
4,male,group D,some college,standard,completed,100,97,99,98.666667
...,...,...,...,...,...,...,...,...,...
995,female,group C,some college,free/reduced,none,22,39,33,31.333333
996,female,group B,some college,standard,none,19,38,32,29.666667
997,female,group B,some high school,free/reduced,none,18,32,28,26.000000
998,female,group B,high school,free/reduced,none,8,24,23,18.333333
999,female,group C,some high school,free/reduced,none,0,17,10,9.000000

In [16]:
# Seleciona alunos do gênero masculino que não participaram do curso preparatório
# e que obtiveram nota igual ou superior a 70 em matemática.

BaseDados.query("(gender == 'male') & (`test preparation course` == 'none') & (`math score` >= 70)")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,MÉDIA
15,male,group C,associate's degree,standard,none,97,93,91,93.666667
17,male,group E,some college,standard,none,97,87,82,88.666667
23,male,group D,master's degree,standard,none,95,81,84,86.666667
26,male,group E,some high school,standard,none,94,88,78,86.666667
30,male,group E,high school,standard,none,94,73,71,79.333333
...,...,...,...,...,...,...,...,...,...
401,male,group C,high school,standard,none,70,70,65,68.333333
403,male,group B,high school,standard,none,70,65,60,65.000000
406,male,group D,some college,free/reduced,none,70,63,58,63.666667
407,male,group C,high school,standard,none,70,56,51,59.000000
408,male,group E,high school,standard,none,70,55,56,60.333333

In [17]:
# Agrupa os dados por gênero e calcula a média e a mediana de cada prova.
# Transpõe o resultado para que as provas fiquem como linhas e as métricas (média, mediana) como colunas.

BaseDados.groupby(by="gender")[provas].agg(["mean", "median"]).T

gender                   female       male
math score    mean    63.633205  68.728216
              median  65.000000  69.000000
reading score mean    72.608108  65.473029
              median  73.000000  66.000000
writing score mean    72.467181  63.311203
              median  74.000000  64.000000